<div class="text-center">
  <h2  id="post-ID-Data" data-postid="{{id}}">{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  {{#each comments as |comment| }}
    <div class="row mb-4 post">
      <div class="col-md-5">
        <p>Created by {{comment.user.name}} on {{format_date comment.date_created}}</p>
      </div>
      <div class="col-md-7">
        <p>
          {{comment.content}}
        </p>
      </div>
    </div>
  {{/each}}
</div>

{{#if logged_in}}
<div>
    <h3>Add a Comment:</h3>

    <form class="form new-comment-form" id="newComment">
      <div class="form-group">
        <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
</div>
{{/if}}

<script src="/js/comment.js"></script>